{% extends "main_template.html" %}

{% block title %}Dorms Access Manager{% endblock %}

{% block content %}


    <div>
        <ul class="navbar-custom">
            <li class="navbar-custom-item"><a class="navbar-custom-item-link" href="/">Residents<br>
                <div class="navbar-custom-div"></div>
            </a></li>

            </a></li>
            <li class="navbar-custom-item"><a class="navbar-custom-item-link" href="/add_resident">Add New Resident<br>
                <div class="navbar-custom-div"></div>
            </a></li>
            
            </a></li>
            <li class="navbar-custom-item"><a class="navbar-custom-item-link" href="/admin_visitors">Visitors<br>
                <div class="navbar-custom-div"></div>
            </a></li>
            
            </a></li>
            <li class="navbar-custom-item"><a class="navbar-custom-item-link" href="/admin_visitors_access">Access<br>
                <div class="navbar-custom-div"></div>
            </a></li>
            
            </a></li>
            <li class="navbar-custom-item"><a class="navbar-custom-item-link" href="/blacklist">Blacklist<br>
                <div class="navbar-custom-div-active"></div>
            </a></li>

            </a></li>
            <li class="navbar-custom-item"><a class="navbar-custom-item-link" href="/display_all_logs">Logs<br>
                <div class="navbar-custom-div"></div>
            </a></li>
            

            <div style="float:right">
                <li class="navbar-custom-item"><a class="navbar-custom-item-link" href="/"><span
                        class="glyphicon glyphicon-user"></span> Logged as:
                    <strong>{{ status }}</strong></a></li>
                <li class="navbar-custom-item"><a class="navbar-custom-item-link" href="/logout"><span
                        class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
            </div>
        </ul>
        <ul>

        </ul>
    </div>




    <div class="main-content">

        <form action="{% url "blacklist" %}"
              method="POST">{% csrf_token %}

            <h1>Blacklist</h1>

            <label style="color: #EF3B3A;"><strong>{{ message }}</strong></label>
            <fieldset>
                <div class="field-wrap">
                    <label for="user_id">Add User To Blacklist</label>
                    <input type="text" id="user_id" name="user_id" autocomplete="off"
                           placeholder="Type user id...">
                </div>

                <ul id="blacklistList" class="list-group">
                    <input type="hidden" name="blacklist_list">
                    {% for key, value in blacklist_list.items %}
                        <li dir="rtl" id="{{ key }}" class="list-group-item">
                            <input type="hidden" value="{{ key }}" name="blacklist_list">{{ value }} , {{ key }}<span
                                class="glyphicon glyphicon-trash pull-right" onclick="removeAccess('{{ key }}')"></span>
                        </li>
                    {% endfor %}
                </ul>
            </fieldset>

            <button class="button-custom" type="submit">SAVE</button>
        </form>

        <script type="text/javascript">

            function removeAccess(user_id) {
                var ul = document.getElementById("blacklistList");
                var li = document.getElementById(user_id);
                ul.removeChild(li);
                return false;
            }

            $(document).ready(function () {
                $(window).keydown(function (event) {
                    if (event.keyCode == 13) {
                        event.preventDefault();
                        return false;
                    }
                });
            });
        </script>

    </div>

{% endblock %}