{% extends "main_template.html" %}

{% block title %}Dorms Access Manager{% endblock %}

{% block content %}


    <div>
        <ul class="navbar-custom">

            <li class="navbar-custom-item"><a class="navbar-custom-item-link" href="/">Residents<br>
                <div class="navbar-custom-div"></div>
            </a></li>

            </a></li>
            <li class="navbar-custom-item"><a class="navbar-custom-item-link" href="/add_resident">Add New Resident<br>
                <div class="navbar-custom-div"></div>
            </a></li>

            </a></li>
            <li class="navbar-custom-item"><a class="navbar-custom-item-link" href="/admin_visitors">Visitors<br>
                <div class="navbar-custom-div"></div>
            </a></li>

            </a></li>
            <li class="navbar-custom-item"><a class="navbar-custom-item-link" href="/admin_visitors_access">Access<br>
                <div class="navbar-custom-div"></div>
            </a></li>

            </a></li>
            <li class="navbar-custom-item"><a class="navbar-custom-item-link" href="/blacklist">Blacklist<br>
                <div class="navbar-custom-div"></div>
            </a></li>

            </a></li>
            <li class="navbar-custom-item"><a class="navbar-custom-item-link" href="/display_all_logs">Logs<br>
                <div class="navbar-custom-div-active"></div>
            </a></li>

            <div style="float:right">
                <li class="navbar-custom-item"><a class="navbar-custom-item-link" href="/"><span
                        class="glyphicon glyphicon-user"></span> Logged as:
                    <strong>{{ status }}</strong></a></li>
                <li class="navbar-custom-item"><a class="navbar-custom-item-link" href="/logout"><span
                        class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
            </div>
        </ul>
        <ul>

        </ul>
    </div>




    <div class="main-content">

        <form action="{% url "display_all_logs" %}"
              method="POST">{% csrf_token %}

            <h1>LOGS</h1>

            <label style="color: #EF3B3A;"><strong>{{ message }}</strong></label>
            <fieldset>
                <div class="field-wrap">
                      <label for="search_type">Search In Logs:</label>
                        <select id="search_type" name="search_type">
                            <option value="0">None</option>
                            <option value="1">Room</option>
                            <option value="2">Id</option>
                            <option value="3">Date</option>
                        </select>
                    <label for="user_id"></label>
                    <input type="text" id="user_id" name="user_id" autocomplete="off"
                           placeholder="Type id/room/date...">
                </div>
                <ul id="logsList" class="list-group">
                    <input type="hidden" name="logs">
                    {% for key, value in logs_list.items %}
                        <li dir="ltr" id="{{ key }}" class="list-group-item">
                            <input type="hidden" value="{{ key }}" name="logs_list">{{ key }} | {{ value }}
                        </li>
                    {% endfor %}
                </ul>
            </fieldset>
            <button class="button-custom" type="submit">SEARCH</button>
        </form>

    </div>

{% endblock %}