{% extends "main_template.html" %}

{% block title %}Dorms Access Manager{% endblock %}

{% block content %}


    <div>
        <ul class="navbar-custom">
            <li class="navbar-custom-item"><a class="navbar-custom-item-link" href="/">Home<br>
                <div class="navbar-custom-div-active"></div>
            </a></li>

            </a></li>
            <li class="navbar-custom-item"><a class="navbar-custom-item-link" href="/display_resident_logs">Logs<br>
                <div class="navbar-custom-div"></div>
            </a></li>
            
            

            <div style="float:right">
                <li class="navbar-custom-item"><a class="navbar-custom-item-link" href="/"><span
                        class="glyphicon glyphicon-user"></span> Logged as:
                    <strong>{{ welcome }}</strong></a></li>
                <li class="navbar-custom-item"><a class="navbar-custom-item-link" href="/logout"><span
                        class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
            </div>
        </ul>
        <ul>

        </ul>
    </div>

  


    <div class="main-content">
                              
        <form action="{% url "index" %}"
              method="POST">{% csrf_token %}
             <label style="color: #1A5276;"><strong>{{ welcome }}</strong></label>
             
            <h1>Add/Remove Visitors</h1>

            <label style="color: #EF3B3A;"><strong>{{ message }}</strong></label>
            <fieldset>
                <div class="field-wrap">
                    <label for="visitor_id">Add New Access:</label>
                    <input type="text" id="visitor_id" name="visitor_id" autocomplete="off"
                           placeholder="Type visitor id...">
                </div>

                <ul id="visitorsList" class="list-group">
                    <input type="hidden" name="visitors_list">
                    {% for key, value in visitors_list.items %}
                        <li dir="ltr" id="{{ key }}" class="list-group-item">
                            <input type="hidden" value="{{ key }}" name="visitors_list">{{key}} , {{ value }} <span
                                class="glyphicon glyphicon-trash pull-right" onclick="removeAccess('{{ key }}')"></span>
                        </li>
                    {% endfor %}
                </ul>
            </fieldset>

            <button class="button-custom" type="submit">SAVE</button>
        </form>

        <script type="text/javascript">

            function removeAccess(visitor_id) {
                var ul = document.getElementById("visitorsList");
                var li = document.getElementById(visitor_id);
                ul.removeChild(li);
                return false;
            }

            $(document).ready(function () {
                $(window).keydown(function (event) {
                    if (event.keyCode == 13) {
                        event.preventDefault();
                        return false;
                    }
                });
            });
        </script>

    </div>

{% endblock %}