{% extends "main_template.html" %}

{% block title %}Dorms Access Manager{% endblock %}

{% block content %}

    <div class="main-content">

        <form action="{% url "login" %}"
              method="POST">{% csrf_token %}

            <label style="color: #EF3B3A;"><strong>{{ message }}</strong></label>

            <label for="id">id:</label>
            <input type="text" id="id" name="id" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button class="button-custom" type="submit">LOG IN</button>
            <p class="message">Visitor ?Not registered? <a href="../signup/">Create an account</a></p>
        </form>

    </div>

{% endblock %}